# IDEs
.idea
.vscode

# Mac OS X
.DS_Store

# Serverless framework
.serverless
.requirements.zip
node_modules/

# Working directories
tmp
!.gitkeep

# Python
.coverage
.Python
__pycache__/
*.py[cod]
*$py.class
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# HashiCorp
**/.terraform/*
*.plan
*.tfstate
*.tfstate.*
*.tfvars
override.tf
#!terraform.tfvars
.vagrant
packer_cache/
*.box

#### Other
*.log
*.pem
.notes/*
tmp/*
exclusions.yml
config.yml
**/state.tf
azure-guardrails-*
**/~$*.xlsx
research.py
*-example.csv
*-example.md
*-all-table.csv
*-all-table.md
params*.csv
params*.md
no-params*.md
no-params*.csv
all_policies.csv
NP-*.csv
RP-*.csv
PO-*.csv
NP-*.md
RP-*.md
PO-*.md
examples/terraform-testing/
/PR-Kubernetes-table.csv
/PR-Kubernetes-table.md
/parameters.yml
/parameters-*.yml
/config-example-params-required.yml
/config-example-params-optional.yml
/test/command/parameters-optional.yml
/test/command/parameters-required.yml
