click==8.0.1
click_option_group==0.5.3
PyYAML==5.4.1
# Required for printing things
jinja2==3.0.1
tabulate==0.8.9
ruamel.yaml==0.17.16
colorama==0.4.4
# Scrapers
beautifulsoup4==4.10.0
requests==2.26.0
