# Documentation
mkdocs==1.2.3
mkdocs-material==7.1.8
mkdocs-material-extensions==1.0.1
mkdocstrings==0.15.2
Pygments==2.9.0
pymdown-extensions==8.2
pytkdocs==0.11.1
mkdocs-table-reader-plugin==0.5

# Docs
# atomicwrites==1.4.0
# distlib==0.3.1
# filelock==3.0.12
